@keyframes slideintitle1 {
    from {
        opacity: 0;
        transform: translate(-5rem, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slideintitle2 {
    from {
        opacity: 0;
        transform: translate(5rem, 0) ;
    }
    to {
        opacity: 1;
        transform: translate(0, 0) rotate(-7deg);
    }
}

@keyframes slideintitle3 {
    from {
        opacity: 0;
        transform: translate(-5rem, 0) ;
    }
    to {
        opacity: 1;
        transform: translate(0, 0) rotate(5deg);
    }
}