.site-gallery {
  padding: 2rem;
  h2 {
    margin-bottom: 2rem;
    color: rgb(71, 71, 71);
    &::before {
      @extend %pseudo;
    }
  }
  .gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    @include mq("tablet") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mq("phone") {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      list-style: none;
      position: relative;
      overflow: hidden;
      padding-top: 100%;
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
      &.img-p img {
        //   height: auto;
        width: 100%;
      }

      &.col-2 {
        grid-column: span 2;
        grid-row: span 2;
      }
      &.row-2 {
        grid-row: span 2;
      }
      &.col-3 {
        grid-column: span 3;
        grid-row: span 2;
      }
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    img {
      display: block;
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
