.site-gallery {
  padding: 2rem;
  h2 {
    margin-bottom: 2rem;
    color: rgb(71, 71, 71);
    &::before {
      @extend %pseudo;
    }
  }
}

.gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    
    li {
      list-style: none;
      position: relative;
      overflow: hidden;
      padding-top: 100%;

    &.col-2 {
        grid-column: span 2;
        grid-row: span 2;
      }
      &.row-2 {
        grid-row: span 2;
      }
      &.col-3 {
        grid-column: span 3;
        grid-row: span 2;
      }
      
    //   &.span-c2 {
    //     grid-column: span 2;
    //     grid-row: span 2;
    //   }
  
    //   &.span-r2 {
    //     grid-column: span 2;
    //     grid-row: span 2;
    //   }
  
    //   &.span-c3 {
    //     grid-column: span 3;
    //   }
      
    //   &.span-c31 {
    //     grid-column: span 3;
    //     &:before {
    //       padding-top: 33.33%;
    //     }
    //   }
    
    
    }
    
    a {
      display: block;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;

    }
    
    img {
      display: block;
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    li.img-p img {
    //   height: auto;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
