.hero-section {
    margin-top: -2.7rem;
    background: url(../assets/img/header-nutrition.jpg) 50% no-repeat;
    background-size: cover;
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hs-text {
    text-align: center;
    & p {
        padding-bottom: 0;
        font-weight: bold;
        color: white;
        padding: 0 1em;
        border-radius: 0.2em;
        margin-bottom: 0.5rem;
        box-shadow: 0 0 1.2rem 0.5rem rgba(0, 0, 0, 0.3);
    }
}

// .hs-text p {
//     padding-bottom: 0;
//     font-weight: bold;
//     color: white;
//     padding: 0 1em;
//     border-radius: 0.2em;
//     margin-bottom: 0.5rem;
//     box-shadow: 0 0 1.2rem 0.5rem rgba(0, 0, 0, 0.3);
// }

.hs-title1 {
    @include mq("tablet") {
        font-size: 2em;
    }
    font-size: 2.5em;
    background: rgb(255, 42, 107);
    z-index: 3;
    animation: slideintitle1 0.5s 1 ease-in-out forwards
}

.hs-title2 {
    @include mq("tablet") {
        font-size: 1.5em;
    }
    font-size: 2em;
    background: rgb(253, 200, 86);
    z-index: 2;
    margin-left: 4rem;
    animation: slideintitle2 0.5s 1 ease-in-out forwards
}

.hs-title3 {
    @include mq("tablet") {
        font-size: 1em;
    }
    font-size: 1.5em;
    background: rgb(189, 222, 100);
    z-index: 1;
    margin-left: 2rem;
    width: 60%;
    animation: slideintitle3 0.5s 1 ease-in-out forwards
}

// @media screen and (max-width: 768px) {
//     .hs-title1 {
//         font-size: 2em;
//     }
//     .hs-title2 {
//         font-size: 1.5em;
//     }
//     .hs-title3 {
//         font-size: 1em;
//     }
// }