.listing {
    display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem;
    margin-top: 2rem;
}

.listing a {
    display: block;
    text-decoration: none;
}

.section-title {
    width: 100%;
    margin-bottom: 2rem;
}

.section-title h2 {
    color: rgb(71, 71, 71);
    font-size: 2.5em;
}

.section-title h2::before {
    display: block;
    content: '';
    height: 7px;
    width: 4rem;
    background: rgb(255, 42, 107);
    margin-bottom: 0.7rem;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.post {
    display: block;
    flex: 0 0 31%;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in-out;
}

.post:hover .post-details {
    height: 50%;
}

.img-container img {
    display: block;
    width: 100%;
}

.post-details {
    // overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(0,0,0,.7);
    color: white;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-details span {
    display: block;
    font-weight: bold;
    text-shadow: 1px 2px 3px #000000;
}

.post-details span.title {
    font-size: 140%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}