$breakpoints: (
  "phone": 576px,
  "tablet": 768px
);

@mixin mq($width) {
  @if (map_has_key($breakpoints, $width)) {
    $width: map_get($breakpoints, $width);

    @media screen and (max-width: $width) {
      @content;
    }
  }
}

@mixin btn($background, $color) {
  border: 2px solid rgb(255, 42, 107); // You'll want to customize this
  color: $color;
  background: $background;
  &:hover {
    color: $background;
    background: $color;
    border-color: $background;
  }
}
