.site-header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(255, 42, 107);
}

.site-header-top {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background: rgb(255, 42, 107);
    color: white;
}

.site-header-top ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.site-header-top li {
    display: block;
    list-style: none outside;
}

.site-header-top a {
    text-decoration: none;
    color: white;
}

.site-header-social a {
    display: block;
}

.site-header-user-panel a {
    font-weight: 600;
}

.site-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: white;
}

.site-branding p {
    padding-bottom: 0;
}

.site-title a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 2.5em;
    font-weight: bold;
}

.site-description {
    padding: 0;
    margin-top: -0.5rem;
    text-transform: uppercase;
    color: rgb(177, 177, 177);
    font-weight: bold;
    letter-spacing: 0.3em;
}