@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

@import url("../fontawesome/css/all.css");

@import "variables";
@import "mixins";
@import "animations";
@import "reset";
@import "typography";

@import "layout";
@import "navigation";
@import "site-header";
@import "hero-section";
@import "listing";
@import "about";
@import "contacts";
@import "login";
@import "footer";
