html {
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    html {font-size: 14px;}
}

@media screen and (max-width: 576px) {
    html {font-size: 12px;}
}

body, table, th, td, form, input, textarea, select, option {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    padding-bottom: 0.5em;
    font-family: 'Poppins', sans-serif;
}

h1 {font-size: 2.441em}
h2 {font-size: 1.953em}
h3 {font-size: 1.563em}
h4 {font-size: 1.25em}
h5 {font-size: 1em}
h6 {font-size: 1em; font-weight: bold;}

p, ul, ol, dl {
    padding-bottom: 1.5em;
}

ul, ol, dl {
    padding-left: 2em;
}

li {
    list-style-position: inside;
}